<%= simple_form_for resource, url: admin_user_blogs_path, html: {class: "form-horizontal", novalidate: true} do |f| %>
  <div class="control-group">
    <label class="control-label" for="inputEmail">标题</label>
    <div class="controls">
      <%= f.input :title, :label => false%>
    </div>

    <button type="submit">aa</button>
  </div>
<% end %>