common: &common
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: postgres

development:
  <<: *common
  database: blog_development

test:
  <<: *common
  database: blog_test

staging:
  <<: *common
  database: blog_staging

production:
  <<: *common
  database: blog