// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*left*/
.left{ width: 100%; float:left; padding-top:20px;}
.left h3{font-size:26px;margin-bottom: 10px;font-weight: bold;color: #fff; text-shadow:#999 1px 1px 0;}
.left h3 span{ color:#666; text-shadow:none;}
.left h3 a.tag span{color: #B77B1B;}
.left h3 a.tag:hover span{color: #fff;}
.publish a.tag,
.left a.tag {display: inline-block;width: auto;height: 19px;overflow: hidden;padding: 0 0 0 20px;color: #B77B1B;line-height: 19px;font-weight: normal;font-size: 12px;text-decoration: none;cursor: pointer;vertical-align: middle; margin-right:8px;}
.publish a.tag span,
.left a.tag span {display: inline-block;width: auto;height: 19px;overflow: hidden;padding: 0 10px 0 0;}
.publish a.tag:hover,
.left a.tag:hover{background-position:0 -190px;color:#fff;text-decoration:none}
.publish a.tag:hover span,
.left a.tag:hover span{background-position:right -220px}

.con{border-radius:5px; -webkit-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px; background:#fff; margin-bottom:40px;box-shadow: 0px 0px 2px #999;}
.con .tit{ border-bottom:1px solid #eee; padding:20px 40px 15px 40px; font-size:22px; font-weight:bold;}
.con em{padding:0 3px; margin:0 3px; background:#369; color:#fff;}
.con .lost_search{padding:140px 40px 140px 160px; font-size:16px; min-height:100px; background:url(search.png) no-repeat 80px 115px ;}
.tit .note_icon,
.tit .blog_icon{ display:block; float:left; width:24px; height:24px; margin-right:10px;}
.tit .note_icon{ background-position:0 -353px;}
.tit .blog_icon{ background-position:0 -393px;}
.tit .edit,
.tit .markdown,
.tit .del{ display:block; float:right; width:24px; height:24px; margin-left:20px; }
.tit .edit{ background-position:2px -78px;}
.tit .del{background-position:2px -158px;}
.tit .markdown{ background-position:0 -856px;}
.tit .edit:hover{ background-position:2px -118px;}
.tit .del:hover{background-position:2px -198px;}
.tit .markdown:hover{ background-position:0 -886px;}

.text{padding:20px 40px; font-size:14px; min-height:120px;}
.con .text .infor_tag{margin-top: -10px;margin-bottom: 10px;}
.text .img{ margin-bottom:10px; text-align:center;}
.text img{ max-width:600px;}
.note_edit{ color:#999;  padding-left:18px; margin:20px 0 -20px 40px; color:#f60;}

.con .info{ background:#f7f7f7; border-top:1px solid #eee; padding:10px 40px 10px 40px;border-radius: 0 0 5px 5px;-webkit-border-radius:  0 0 5px 5px;-moz-border-radius:  0 0 5px 5px;-khtml-border-radius:  0 0 5px 5px;}
.con .info .author,
.con .info .time,
.con .info .edit,
.con .info .views,
.con .info .comment{ color:#999; margin-left:5px;  padding-left:18px;}
.con .info .author{ background-position:0 -923px;}
.con .info a.author:hover{ background-position:0 -953px;}
.con .info .time{ background-position:0 -303px;}
.con .info .edit{ background-position:0 -363px;}
.con .info .views{ background-position:0 -483px;}
.con .info .comment{ background-position:0 -423px; padding:0 0 0 18px;}
.con .info .comment:hover{ background-position:0 -453px; color:#f60;}




.right{padding-top: 20px;width: 100%; }
.tag_link a {
  display: block;
  border: 1px solid #DDD;
  padding: 6px 8px;
  margin-bottom: 5px;
  font-weight: 400;
  overflow: hidden;
  background-color: #F9F9F9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: inset 0 1px white,0 0 1px rgba(34, 25, 25, .1);
  -moz-box-shadow: inset 0 1px #fff,0 0 1px rgba(34,25,25,.1);
  -webkit-box-shadow: inset 0 1px white,0 0 1px rgba(34, 25, 25, .1);
}
.tag_link a span {
  border-left: 1px solid #DDD;
  display: block;
  float: right;
  margin: -5px 0 -5px 5px;
  padding: 6px 5px;
  text-align: center;
  width: 20px;
}